/*
tr.show
{
  display:table-row;
}

th.show,td.show
{
  display:table-cell;
}

.hide
{
  display:none;
}
*/

.table tbody tr.online {
}

.table tbody tr.offline {
  opacity: 0.4;
}

.table tbody td.race-none {
  background-image: linear-gradient(to right, #eaeaea, white);
}

.table tbody td.race-protoss {
  background-image: linear-gradient(to right, #efe, white);
}

.table tbody td.race-terran {
  background-image: linear-gradient(to right, #e0f2ff, white);
}

.table tbody td.race-zerg {
  background-image: linear-gradient(to right, #fee, white);
}

.table tbody td a, .table tbody td a:visited {
  display: inline-block;
  height:100%;
  width:100%;
  color:#222;
}

.table tbody td a:hover, .table tbody td a:active {
  color:#222;
  text-decoration:none;
}

@media only screen and (min-width : 961px){
  #left-column {
    max-width: 640px;
  }
}
