a
{
  color:#666;
}

a:visited
{
  color:#444;
}

a:hover
{
  text-decoration:none;
}

body
{
  background-color:#fff;
  float:left;
  font-size:80%;
}

input[type=checkbox]
{
  vertical-align:middle;
  position:relative;
  bottom:1px;
}

table
{
  border-collapse:collapse;
  margin:5px;
}

td,th
{
  border:0;
  padding:4px 10px;
}

th
{
  background-color:#5f5f5f;
  color:#fff;
  font-weight:700;
  text-align:left;
}

td.viewers,td.high_viewers
{
  text-align:right;
}

tr.online
{
  background-color:#f1f1f1;
}

tr.offline
{
  background-color:#e4e4e4;
}

tr.show
{
  display:table-row;
}

th.show,td.show
{
  display:table-cell;
}

.hide
{
  display:none;
}

.footer
{
  margin-top:10px;
  color:#222;
  font-size:90%;
  text-align:center;
  padding:5px;
}

*
{
  font-family:helvetica,arial,sans-serif;
}
