/*
a
{
  color:#666;
}

a:visited
{
  color:#444;
}

a:hover
{
  text-decoration:none;
}

input[type=checkbox]
{
  vertical-align:middle;
  position:relative;
  bottom:1px;
}

tr.show
{
  display:table-row;
}

th.show,td.show
{
  display:table-cell;
}

.hide
{
  display:none;
}
*/

.table tbody tr.online {
}

.table tbody tr.offline {
  opacity: 0.4;
}

.table tbody td.race-protoss {
  background-image: linear-gradient(to right, #efe, white);
}

.table tbody td.race-terran {
  background-image: linear-gradient(to right, #e0f2ff, white);
}

.table tbody td.race-zerg {
  background-image: linear-gradient(to right, #fee, white);
}

@media only screen and (min-width : 961px){
  #left-column {
    max-width: 640px;
  }
}
